@import url('https://fonts.googleapis.com/css2?family=Archivo+Narrow&display=swap');

html {
    scroll-behavior: smooth;
}

header {
    display: flex;
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    justify-content: space-between;
    align-items: center;
    background-color: whitesmoke;
    height: 6vh;
    z-index: 100;
}

.topbar {
    position: static;
    align-items: center;
    justify-content: space-between;
    list-style-type: none;
}

.logo {
    cursor: pointer;
    background-color: whitesmoke;
    width: 40px;
    height: 40px;
    position: relative;
    left: 10%;
}

.ContentContainer {
    width: 80%;
    margin: auto;
    height: 100vh;
    margin-top: 6vh;
}

.LoginContainer {
    font-family: 'Archivo Narrow', sans-serif;
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;
    width: 600px;
    height: 120px;
    position: relative;
    top: 20%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.Title {
    font-size: 30px;
    text-align: center;
}
.GoogleContainer {
    margin-left: auto;
    margin-right: auto;
    width: 200px;
    height: 100%;
    margin-top: 10px; 
    
    text-align: center;
}

#Custombtn.GoogleSignInButton {
    cursor: pointer;
    background-color: whitesmoke;
    width: 40px;
    height: 40px;
    position: relative;
    left: 20%;
}

.UserIcon {
    font-family: 'Archivo Narrow', sans-serif;
    padding: 10px 20px;
    list-style-type: none;
    color: gray;
    background-color: gray;  
    cursor: pointer;
    border-radius: 50%;
}

.TitleContent {
    font-family: 'Archivo Narrow', sans-serif;
    text-align: center;
    width: 100%;
    height: 100px;
    background-color: white;
    margin-top: 0;
    font-size: 3vw;
}

#ProductDetails {
    height: 50vh;
    width: 100%;
    background-color: whitesmoke;
    display: block;
}

.HowItWorks {
    width: 100%;
    height: 8vh;
    margin-top: 60vh;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    position: absolute;
    border: 0px;
    background-color: white;
    padding: 0;
    text-align: center;
    font-size: 1.5vw;
    font-family: 'Archivo Narrow', sans-serif;
    text-decoration: none;
    color: black;
}

.HowItWorks:hover {
    cursor: pointer;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
}

.Step {
    width: 20%;
    display: inline-block;
    background-color: white;
    height: 40vh;
    margin-left: 10%;
    margin-top: 2.5%;
    border-radius: 10%;
    text-align: center;
    transition: background-color 1s;
    position: relative;
}

.StepTitle {
    width: 100%;
    height: 10%;
    background-color: transparent;
    text-align: center;
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 2vw;
}

.StepContent {
    width: 90%;
    height: 60%;
    background-color: transparent;
    text-align: center;
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 1.3vw;
    margin-top: 40%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    position: absolute;
}

.DecorativeLine {
    height: 80%;
    width: 1%;
    background-color: lightblue;
    margin-top: 10%;
    position: absolute;
}

.Step:hover {
    transition: background-color 1s;
    background-color: lightblue;
}

.DecorImage {
    width: 100%;
    position: absolute;
    max-width: 20%;
    max-height: 20%;
    z-index: 50;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    margin-top: 20%;

}

.AddReceiptMenu {
    display: none;
    width: 20%;
    position: fixed;
    margin-left: auto;
    margin-right: auto;
    background-color: whitesmoke;
    height: 50vh;
    left: 0;
    right: 0;
    margin-top: 5vh;
    top: 20vh;
    bottom: 0;
}

.AddReceiptTitle {
    width: 80%;
    height: 10%;
    background-color: transparent;
    text-align: center;
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 2vw;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.CloseReceiptAdd {
    width: 10%;
    height: 10%;
    background-color: transparent;
    text-align: right;
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 2vw;
    position: absolute;
    top: 0;
    left: 85%;
    cursor: pointer;
}


.DataEntryHolder {
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    left: 0;
    right: 0;
    margin-top: 10%;
    height: 10%;
}

.DataEntry {
    margin-left: 3.5%;
    margin-right: auto;
    width: 90%;
    left: 0;
    right: 0;
    height: 50%;
}

label {
    width: 10%;
    font-size: 1vw;
    height: 5%;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
}

.SubmitReceiptButton {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    left: 0;
    right: 0;
    margin-top: 5%;
    height: 10%;
    display: block;
    text-align: center;
    line-height: 5vh;
    background-color: lightblue;
    font-family: 'Archivo Narrow', sans-serif;
    border-radius: 10%;
}

.SubmitReceiptButton:hover {
    margin-left: auto;
    margin-right: auto;
    width: 60%;
    left: 0;
    right: 0;
    margin-top: 5%;
    height: 10%;
    display: block;
    text-align: center;
    line-height: 5vh;
    background-color: rgb(104, 199, 231);
    font-family: 'Archivo Narrow', sans-serif;
    border-radius: 10%;
    cursor: pointer;
}

.addRButton {
    width: 100px;
    height: 50px;
    background-color: whitesmoke;
    text-align: center;
    line-height: 50px;
    color: lightblue;
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 50px;
    margin-left: 0;
}

.SortButton {
    width: 100px;
    height: 50px;
    background-color: whitesmoke;
    text-align: center;
    line-height: 50px;
    color: lightblue;
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 30px;
    margin-left: 0;
}

.addRButton:hover {
    background-color: gray;
    cursor: pointer;
}

.SortButton:hover {
    background-color: gray;
    cursor: pointer;
}

.NavigationReceipts {
    width: 80%;
    height: 50px;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    margin-top: 11vh;
    display: flex;
    justify-content: space-around;
}

.NavigationReceiptsTitle {
    width: 200px;
    height: 100%;
    background-color: transparent;
    text-align: center;
    font-family: 'Archivo Narrow', sans-serif;
    font-size: 30px;
    line-height: 40px;
    margin-left: 0;
}

.ReceiptsHolder {
    width: 100%;
    background-color: transparent;
    height: 0;
}

.ReceiptItem {
    width: 80%;
    height: 40px;
    margin-top: 0;
    background-color: whitesmoke;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    border-bottom: 0.05px black solid;
}

.ReceiptChildItem {
    width: 20%;
    height: 40px;
    line-height: 20px;
    text-align: center;
    margin-top: 0;
    margin-bottom: auto;
    margin-left: 4%;
    background-color: transparent;
    font-size: 15px;
    font-family: 'Archivo Narrow', sans-serif;
    display: inline-block;
}
.ItemLabels {
    width: 80%;
    height: 40px;
    margin-top: 2vh;
    background-color: whitesmoke;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
    border-bottom: 0.05px black solid;
}

.ItemLabel {
    width: 20%;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-top: 0;
    margin-bottom: auto;
    margin-left: 4%;
    background-color: transparent;
    font-size: 15px;
    font-family: 'Archivo Narrow', sans-serif;
    display: inline-block;
}